.top_container {
  display: flex;
}
/* }
.profile_container {
  width: 100%;
} */
.InputSearch {
  text-align: center;
}
.InputClass {
  height: 40px;
  width: 300px;
  margin: 10px;
}
.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/no-jobs-img.png ');
  background-size: cover;
  height: 100vh;
  width: 60vw;
  text-align: center;
  /* margin-top: 20%; */
}
