* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: none;
  text-decoration: none;
}

.Header_container {
  display: flex;
  background-color: #272727;
  /* justify-content: center; */
  /* align-content: space-evenly; */
  /* align-items: center; */
}
.imageCont {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  margin-top: auto;
}
.JobbyName {
  height: 20px;
  margin: 10px;
  margin-top: auto;
}
.home_jobs_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  /* align-items: center; */
  justify-self: center;
  margin-left: 19rem;
  /* color: white; */
  /* background-color: white; */
}
.buttonE {
  text-align: center;
  margin-left: auto;
  margin-right: 5%;
  margin-top: 2%;
}
.buttonElement {
  background-color: #4f46e5;
  height: 30px;
  width: 60px;
  border-radius: 4px;
  color: white;
}
.HomeHeading {
  margin: 20px;
  color: white;
}
.homeJobsHeading {
  color: white;
  text-decoration: none;
}
